<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @active_build.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @active_build.text %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @build.tags %>
</p>

<%= link_to 'Edit', edit_activeBuild_path(@active_build) %> |
<%= link_to 'Back', activeBuilds_path %>
